<div class="container">

  <div class="loginmodal-container">
    <h1>Create Account</h1><br>
    <form ng-submit="registerProcess()">
      <input type="text" name="user[email]" placeholder="Email" ng-model="email" required>
      <input type="password" name="user[password]" placeholder="Password" ng-model="password" required>
      <input type="submit" class="login loginmodal-submit" value="Register">
      <select name="user[role]" id="">
        <option value="">Normal User</option>
        <option value="manager">Manager</option>
        <option value="admin">Admin</option>
      </select>
    </form>

    <div class="login-help">
      Already have account? <a href="#login">Login</a>
    </div>
  </div>

</div>